.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}

.navbar1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.navbar-item{
    margin: 10px;
    font-size: 14px;
    font-family: arial,sans-serif;;
}

/* unvisited link */
a:link {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    border-bottom: 0px rgba(0,0,0,.87);
  }
  
  /* visited link */
  a:visited {
    color: rgba(0,0,0,.87);
  }
  
  /* mouse over link */
  a:hover {
    color: rgba(0,0,0,.87);
    border-bottom: 1px solid rgba(0,0,0,.87);
  }
  
  /* selected link */
  a:active {
    color: rgba(0,0,0,.87);
  }
  
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    text-decoration: none;
    display: flex;
    min-height: 45px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: 584px;
    max-width: 584px;
    padding-left: 40px;
    font-size: 15px;
    background-image: url(src/search-icon.png);
    background-position-x: 12px;
    background-repeat: no-repeat;
    background-position-y: 15px;
}

.input:focus{
    outline: none;
    box-shadow: 0px 0px 5px 0px #dfe1e5;

}

.button-container{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.logo{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.hr{
    border-bottom: 1px solid #ebebeb;
}
.find{
    font-size: 16px;
    color: #333;
}
.content{
    margin: 50px;
}

.row-i{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.left{
    width: 200px;
}
.right{
    width: 385px;
}
.find1{
    font-size: 13px;
    vertical-align: middle;
}

.btnn{
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    height: 32px;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    width: 127px;
    border-radius: 2px;
}

.buttonn{
    display: flex;
    justify-content: flex-end;
    width: 700px;
    margin-top: 30px;
}

.btnn:hover{
    background-color: #3079ed;
    color: #fff;
}

.adjust{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.in{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 500px;
}

.in:focus{
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: 0px 0px 2px 0px #4d90fe;
}

